* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h4,
p {
  margin: 0px;
}

body {
  
  font-family: 'Arial', sans-serif;
}
/* Este es el contenedor General donde fijo la estructura de la rejilla o Grid */
.container {
  display: grid;
  
  grid-template-columns:10%  30% 30% 30%; /* Menú a la izquierda y contenido a la derecha */
  grid-template-rows:   10% 40% 40% 10%;
 
  max-height: 900px;
  max-width: 1250px;

}

/* Cabecera de la página */
header {
  grid-column: 1/6;

  background-color: #f4f4f4;
  text-align: center;
  align-content: center;
  max-width: 1250px;
}

/* Menú lateral */
nav {
  background-color: brown;
  grid-row: 2/5;
}

nav div {
  
}

/* Imagen grande */
main {
  grid-column: 2/4;
  background-color: #ffffff;
 
  border: 1px solid black;
  border-radius: 10px;
  align-content: center;
  text-align: center;
  margin: 30px;
}

main img {
  width: 70%;
  height: 40%;
  
}

/* Resto de imágenes. Colocadas por grid-auto-flow que por defecto es row */
article {
  
}

article img {
  
}


}

/* Pie de la página */
footer {
 
}

footer img {
  
}
