* {
  box-sizing: border-box;
 
}::after 

body {
  background-color: white; /*kolorea jarrita*/
}
.container{
  color:rgb(55, 55, 55);
  font-family: "Lobster",cursive;
  font-weight: bolder;
  margin: 20px auto;
  width: 90%;
}
header{
  text-align: center;
  border-bottom: 1px solid #666666; 
  margin-bottom: 10px;
  width: 100%;
}
.content_wrapper{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 10px;

}
main{
  height:400px ;
  width: 60%;
  text-align: center;
  border: solid black 1px;
  padding: 5px;
  border-radius: 5px;
}
main img {
  border-radius: 1em;/*borobildutako ertzak*/
  height: 70%; /*zenbat okupatuko duen altueraz*/
  width: 80%;/*zenbat okupatuko duen zabaleraz*/
}
.content_wrapper article:nth-of-type(1) {/*artikulo klaseko lehen elementua hartzen du*/
  height: 400px;/*zenbat okupatuko duen altueraz*/
}
nav{
  width: 5%;
}
nav div{
  margin-bottom: 10px;
}
article{
  height:300px ;
  width: 30%;
  text-align: center;
  align-content: center;
  border: solid black 1px;
  padding: 5px;
  border-radius: 5px;
}
article img{
  border-radius: 1em;/*borobildutako ertzak*/
  height: 50%; /*zenbat okupatuko duen altueraz*/
  width: 80%;/*zenbat okupatuko duen zabaleraz*/
}
.articles{
display: flex;
flex-direction: row;
justify-content: space-between; /*horizontalki nola banatuko den adieraziko du. bai alboetan zein beraien artean espazioa emango du*/
  margin-left: 10%;
  margin-bottom: 10px;
}

footer{
  border-top: solid 2px black;
  margin-top: 10px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
